<ion-header>
  <ion-toolbar>      
    <ion-title>
      Comer Bem Restaurante
    </ion-title>    
      <ion-buttons slot="end"><ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card class="card-promoçao">
    <ion-card-header>
      <ion-card-subtitle>Promoção do dia</ion-card-subtitle>
      <ion-card-title>Penne + taça de vinho</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/imgs/promo.png"></ion-img>
    </ion-card-content>
  </ion-card> 

  <div *ngFor="let cat of items" class="category-block">
      <ion-row no-padding class="category-banner">
        <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
          {{cat.category}}
        </ion-col>
      </ion-row>
      <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let product of cat.products">
            <div *ngIf="cat.expanded">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    {{ product.name }} - R${{ product.price }}
                  </ion-card-title>
                  <ion-card-content>
                    <img class="product-img" src="{{product.img}}">
                    <ion-button expand="full" (click)="addToCart(product)">Adicionar ao carrinho</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
        </ion-slides>
    </div>       
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
    <ion-icon name="logo-twitter" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-facebook" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-footer>
